/*
 * Theme Name: Crawford County v4
 * Description: Theme for Crawford County
 * Author: 502 - A Strategic Marketing Agency
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Muli:400,700");
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  color: #212221;
  font-size: 1em;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5; }

p {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.5em; }

a {
  cursor: pointer;
  color: #ffd100; }
  a:hover {
    color: #ffda33; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Muli", Georgia, serif;
  font-weight: 700; }

body .fa {
  font-size: 1em; }

@media screen and (min-width: 800px) {
  .flex-align-center-medium {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.flex-align-center-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.centered {
  text-align: center; }

.bigger {
  font-size: 150%; }

.clear:before,
.clear:after,
.clearfix:before,
.clearfix:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
#header:before,
#header:after,
.site-content:before,
.site-content:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.clearfix:after,
.entry-content:after,
.comment-content:after,
#header:after,
.site-content:after,
#footer:after {
  clear: both; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    display: block;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

.show-overflow {
  overflow: visible !important; }

@media screen and (min-width: 800px) {
  .half {
    width: 50%;
    padding: 0 1em;
    float: left; } }

.container, .flex-container {
  max-width: 70em;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 1em; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#hp-field {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  visibility: hidden;
  pointer-events: none; }

.beautiful-taxonomy-filters-label {
  display: block; }

.beautiful-taxonomy-filters-clear-all {
  margin-left: 1em;
  display: inline-block;
  color: #c90004;
  text-decoration: none; }
  .beautiful-taxonomy-filters-clear-all:before {
    content: '\f057';
    font-family: "FontAwesome", sans-serif;
    margin-right: .5em; }

.facet-search {
  min-width: 300px;
  margin-bottom: 4em; }

.beautiful-taxonomy-filters-label {
  font-size: 1em;
  color: #004876;
  text-transform: uppercase;
  margin-bottom: 1em; }

.beautiful-taxonomy-filters-tax {
  margin-bottom: 1em; }

.select2-container.select2-container--default {
  min-width: 90%;
  margin-bottom: 1em; }
  .select2-container.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #007836; }
  .select2-container.select2-container--default .select2-results__option[aria-selected=true] {
    background: #BCBEC0; }
    .select2-container.select2-container--default .select2-results__option[aria-selected=true].select2-results__option--highlighted {
      background: #007836; }

#tribe-community-events.form {
  margin-bottom: 1em; }

.tribe-event-recurrence .tribe-handle {
  display: none; }

.button, button, input[type="submit"] {
  -webkit-appearance: none;
  display: inline-block;
  border: 1px solid #004876;
  background: transparent;
  color: #004876;
  line-height: 1;
  padding: .5em 1em;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: all 50ms linear;
  transition: all 50ms linear; }
  .button:hover, button:hover, input[type="submit"]:hover {
    color: #fff;
    background: #004876; }

.issuuembed {
  width: 100% !important;
  min-height: 320px; }
  @media screen and (min-width: 800px) {
    .issuuembed {
      min-height: 640px; } }

.cards-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (min-width: 800px) {
    .cards-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .cards-wrapper .card-wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 23%;
            flex: 0 0 23%;
    background: #fff;
    padding: 1em;
    -webkit-box-shadow: 1px 1px 5px #606060;
            box-shadow: 1px 1px 5px #606060;
    margin-bottom: 2em; }
  .cards-wrapper .card-title {
    line-height: 1;
    margin: 0;
    font-size: 1.5em;
    font-family: "Open Sans", Arial, sans-serif; }
    .cards-wrapper .card-title a {
      text-decoration: none;
      color: inherit; }

.social-media {
  margin: 2em 0;
  text-align: center; }
  .social-media__link {
    text-decoration: none;
    margin: 0 .25em;
    font-size: 1.5em;
    color: #BCBEC0;
    cursor: pointer; }
    .social-media__link:hover {
      color: #d6d8d9; }

#breadcrumbs {
  color: #ffd100;
  margin: 1em 0;
  overflow: hidden; }
  #breadcrumbs a {
    color: #ffd100;
    text-decoration: none; }
    #breadcrumbs a:hover {
      color: #ffda33; }

.comments .comment-form input, .comments .comment-form textarea, #respond .comment-form input, #respond .comment-form textarea {
  display: block;
  width: 100%; }

.comments .comment-form-url, #respond .comment-form-url {
  display: none; }

.comments #submit, #respond #submit {
  width: auto; }

body #tribe-events-pg-template {
  padding: 0;
  max-width: none; }

body #tribe-events .tribe-events-button, body #tribe-events .tribe-events-button:hover, body #tribe_events_filters_wrapper input[type=submit], body .tribe-events-button, body .tribe-events-button.tribe-active:hover, body .tribe-events-button.tribe-inactive, body .tribe-events-button:hover, body .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], body .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] > a {
  background: #007836; }

body #tribe-bar-form .tribe-bar-submit input[type=submit] {
  background: #007836; }

body #tribe-events-content-wrapper {
  margin-bottom: 1em; }

body .tribe-events-page-title {
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
  letter-spacing: 2px;
  color: #004876; }

body #tribe-community-events h4 {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1rem; }

body .events-community-post-title label, body .events-community-post-content label {
  text-transform: uppercase;
  font-weight: 700; }

body .submit-event {
  margin: 2em 0; }
  body .submit-event a {
    font-size: 150%; }

body.archive.post-type-archive-tribe_events .card-wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23%;
          flex: 0 0 23%; }

body.archive.post-type-archive-tribe_events .card-wrap .card-top .card-date {
  display: inline; }

#tribe-events-content a, .tribe-events-adv-list-widget .tribe-events-widget-link a, .tribe-events-adv-list-widget .tribe-events-widget-link a:hover, .tribe-events-back a, .tribe-events-back a:hover, .tribe-events-event-meta a, .tribe-events-list-widget .tribe-events-widget-link a, .tribe-events-list-widget .tribe-events-widget-link a:hover, ul.tribe-events-sub-nav a, ul.tribe-events-sub-nav a:hover {
  color: #004876; }

.header {
  background: #004876;
  -webkit-box-shadow: 0 0 25px -5px #606060;
          box-shadow: 0 0 25px -5px #606060;
  padding: 1em 0 2em; }
  .header .logo {
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    font-family: "Muli", Georgia, serif;
    width: 100px; }
    @media screen and (min-width: 800px) {
      .header .logo {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 25%;
                flex: 1 0 25%; } }
    .header .logo a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      text-transform: lowercase;
      color: #fff;
      text-align: center;
      font-size: 1.75em;
      line-height: 1;
      -webkit-transition: letter-spacing 200ms ease;
      transition: letter-spacing 200ms ease; }
      .header .logo a:hover {
        letter-spacing: 2px; }
    .header .logo .county-wrap {
      color: #fff;
      font-size: .4em;
      display: block;
      padding: .1em 1em;
      max-width: 11.5em;
      margin: 0 auto;
      font-family: "Open Sans", Arial, sans-serif;
      letter-spacing: 8px;
      text-transform: uppercase;
      font-weight: 400;
      -webkit-transition: letter-spacing 150ms ease;
      transition: letter-spacing 150ms ease; }
      @media screen and (min-width: 800px) {
        .header .logo .county-wrap {
          display: block; } }
  .header .second-row-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header .logo-banner {
    max-width: 100%; }

.header .nav-main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 75%;
          flex: 1 0 75%;
  display: none; }

.header .main-menu {
  text-transform: uppercase;
  text-align: right; }
  .header .main-menu ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  .header .main-menu li {
    display: inline-block;
    margin: 0 1em;
    position: relative; }
    .header .main-menu li:hover .sub-menu {
      -webkit-transform: scale(1);
              transform: scale(1); }
  @media screen and (min-width: 800px) {
    .header .main-menu > ul > li > a {
      position: relative;
      top: 1em; } }
  .header .main-menu a {
    display: inline-block;
    color: #fff;
    padding-bottom: 1em;
    text-decoration: none; }
    .header .main-menu a:hover {
      color: #cccccc; }
  .header .main-menu .sub-menu {
    position: absolute;
    z-index: 10;
    background: #007836;
    width: auto;
    white-space: nowrap;
    text-align: left;
    left: -2em;
    top: 2.5em;
    padding: .5em 0 1em;
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: top center;
            transform-origin: top center; }
    @media screen and (min-width: 800px) {
      .header .main-menu .sub-menu {
        top: 3.5em; } }
    .header .main-menu .sub-menu li {
      display: block;
      margin: 0;
      padding: 0; }
    .header .main-menu .sub-menu a {
      display: block;
      padding: .25em 2em; }
    .header .main-menu .sub-menu:before {
      content: '';
      position: absolute;
      left: 25%;
      -webkit-transform: translateX(-50%) translateY(-150%);
              transform: translateX(-50%) translateY(-150%);
      border-left: 1em solid transparent;
      border-right: 1em solid transparent;
      border-bottom: 1em solid #007836; }

.header .secondary-menu {
  text-transform: uppercase;
  text-align: right;
  display: none; }
  .header .secondary-menu ul {
    padding: 0;
    margin: 1em 0; }
  .header .secondary-menu li {
    display: inline-block;
    margin: 0 1em;
    list-style: none; }
  .header .secondary-menu a {
    color: #ffd100;
    text-decoration: none;
    font-size: .75em; }
    .header .secondary-menu a:hover {
      color: #ffda33; }

#menu-toggle {
  color: #fff;
  border-color: #fff;
  display: inline-block;
  margin: 1em; }
  #menu-toggle:hover {
    background: #fff;
    color: #212221; }

#nav-main-mobile {
  background: #212221;
  color: #fff;
  overflow-y: scroll;
  z-index: 100;
  padding-top: 2em; }
  .admin-bar #nav-main-mobile {
    margin-top: 32px !important; }
    @media screen and (max-width: 782px) {
      .admin-bar #nav-main-mobile {
        margin-top: 46px !important; } }
  #nav-main-mobile #menu-toggle {
    display: inline-block;
    margin-left: 1em; }
  #nav-main-mobile ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #nav-main-mobile ul .sub-menu {
      padding-left: 2em; }
  #nav-main-mobile a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
    margin: .25em 0;
    display: block;
    font-weight: 300; }
    #nav-main-mobile a:hover {
      color: #e6e5e5; }

#nav-secondary-mobile {
  border-top: 2px solid #ffd100;
  padding-top: 2em;
  margin-top: 2em; }
  #nav-secondary-mobile a {
    color: #ffd100; }
    #nav-secondary-mobile a:hover {
      color: #ffda33; }

@media screen and (min-width: 800px) {
  #nav-main, #nav-secondary {
    display: block; }
  #menu-toggle {
    display: none; } }

@media screen and (min-width: 800px) {
  #nav-secondary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    #nav-secondary #searchform {
      margin-left: 2rem; }
    #nav-secondary #searchsubmit {
      background: #007836;
      color: #fff; } }

#nav-secondary .social-media {
  margin-right: 2rem; }
  #nav-secondary .social-media .social-media__link {
    font-size: 1em; }

#nav-secondary-mobile #searchform {
  padding: 1em; }

#nav-secondary-mobile #searchsubmit {
  background: #007836;
  color: #fff;
  margin: 1em 0;
  display: inline-block; }

#nav-secondary-mobile .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.archive-list {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
  margin-bottom: 4em; }
  .archive-list .archive-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1em; }
    .archive-list .archive-item + .archive-item {
      padding-top: 1em;
      border-top: 1px solid #BCBEC0; }
    .archive-list .archive-item img {
      width: 6em;
      height: 6em;
      margin: 0 1em 0 0; }
    .archive-list .archive-item .item-title {
      font-size: 1em;
      font-family: "Open Sans", Arial, sans-serif;
      margin: 0; }
      .archive-list .archive-item .item-title a {
        color: #004876;
        text-transform: uppercase;
        text-decoration: none; }
  .archive-list .terms a {
    color: #BCBEC0;
    text-transform: uppercase;
    text-decoration: none; }
    .archive-list .terms a:hover {
      color: #d6d8d9; }
  .archive-list .terms .comma-sep:last-child {
    display: none; }

.archive .content-wrapper .flex-container, .single-landing_page .content-wrapper .flex-container, .page-template-landing .content-wrapper .flex-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.archive .card-wrap, .single-landing_page .card-wrap, .page-template-landing .card-wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
  background-size: cover;
  background-position: center center;
  background-position: center center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .archive .card-wrap .button, .single-landing_page .card-wrap .button, .page-template-landing .card-wrap .button {
    color: #fff;
    border-color: #fff; }
    .archive .card-wrap .button:hover, .single-landing_page .card-wrap .button:hover, .page-template-landing .card-wrap .button:hover {
      background: #fff;
      color: #007836; }
  .archive .card-wrap .card-top, .single-landing_page .card-wrap .card-top, .page-template-landing .card-wrap .card-top {
    background: #007836;
    color: #fff;
    padding: .25em;
    position: relative;
    z-index: 10; }
    .archive .card-wrap .card-top .card-date, .single-landing_page .card-wrap .card-top .card-date, .page-template-landing .card-wrap .card-top .card-date {
      display: none; }
  .archive .card-wrap .card-bottom, .single-landing_page .card-wrap .card-bottom, .page-template-landing .card-wrap .card-bottom {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    position: relative;
    z-index: 10; }
  .archive .card-wrap:after, .single-landing_page .card-wrap:after, .page-template-landing .card-wrap:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: background 200ms linear;
    transition: background 200ms linear;
    z-index: 0; }
  .archive .card-wrap:hover, .single-landing_page .card-wrap:hover, .page-template-landing .card-wrap:hover {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .archive .card-wrap:hover .card-top, .single-landing_page .card-wrap:hover .card-top, .page-template-landing .card-wrap:hover .card-top {
      background: transparent; }
    .archive .card-wrap:hover .card-bottom, .single-landing_page .card-wrap:hover .card-bottom, .page-template-landing .card-wrap:hover .card-bottom {
      -webkit-transform: scale(1);
              transform: scale(1); }
    .archive .card-wrap:hover:after, .single-landing_page .card-wrap:hover:after, .page-template-landing .card-wrap:hover:after {
      background: rgba(0, 120, 54, 0.85); }

.featured-title {
  font-size: 1.5em;
  color: #004876;
  padding: .5em;
  margin: 0 0 1em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  background: url(static/images/topographic-pattern.png), #EBE8E2; }

.term-image {
  width: 100%;
  display: block; }

.term-list {
  margin-bottom: 2em; }
  @media screen and (min-width: 800px) {
    .term-list .cards-wrapper {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media screen and (min-width: 800px) {
    .term-list .card-wrap:nth-child(3n + 2) {
      margin-left: 3.5%;
      margin-right: 3.5%; } }

.pagination {
  text-align: center;
  margin: 4em 0; }
  .pagination .pages {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none; }
    .pagination .pages li {
      display: inline-block; }
      .pagination .pages li + li {
        margin-left: 1em; }
      .pagination .pages li a {
        display: inline;
        padding: 0 .25em; }
  .pagination .next {
    margin-left: 1em; }

.pagination:empty {
  display: none; }

.single-hotel .article-header, .single-hotel .article-bottom, .single-restaurant .article-header, .single-restaurant .article-bottom, .single-entertainment .article-header, .single-entertainment .article-bottom, .single-tribe_events .article-header, .single-tribe_events .article-bottom {
  margin-bottom: 2em; }
  @media screen and (min-width: 800px) {
    .single-hotel .article-header, .single-hotel .article-bottom, .single-restaurant .article-header, .single-restaurant .article-bottom, .single-entertainment .article-header, .single-entertainment .article-bottom, .single-tribe_events .article-header, .single-tribe_events .article-bottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .single-hotel .article-header .side, .single-hotel .article-bottom .side, .single-restaurant .article-header .side, .single-restaurant .article-bottom .side, .single-entertainment .article-header .side, .single-entertainment .article-bottom .side, .single-tribe_events .article-header .side, .single-tribe_events .article-bottom .side {
        width: 30%; }
      .single-hotel .article-header .main, .single-hotel .article-bottom .main, .single-restaurant .article-header .main, .single-restaurant .article-bottom .main, .single-entertainment .article-header .main, .single-entertainment .article-bottom .main, .single-tribe_events .article-header .main, .single-tribe_events .article-bottom .main {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 65%;
                flex: 0 1 65%;
        display: block;
        max-width: 65%; } }

.single-hotel .article-header, .single-restaurant .article-header, .single-entertainment .article-header, .single-tribe_events .article-header {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.single-hotel .tribe-events-event-image img, .single-restaurant .tribe-events-event-image img, .single-entertainment .tribe-events-event-image img, .single-tribe_events .tribe-events-event-image img {
  display: block;
  max-width: 100%;
  width: 100%;
  max-height: 75vh; }

.single-hotel .post-thumb, .single-hotel .tribe-events-event-image, .single-restaurant .post-thumb, .single-restaurant .tribe-events-event-image, .single-entertainment .post-thumb, .single-entertainment .tribe-events-event-image, .single-tribe_events .post-thumb, .single-tribe_events .tribe-events-event-image {
  display: block;
  max-width: 100%;
  width: 100%; }

.single-hotel .header-meta .article-h1, .single-restaurant .header-meta .article-h1, .single-entertainment .header-meta .article-h1, .single-tribe_events .header-meta .article-h1 {
  line-height: 1;
  color: #004876;
  margin: .25em 0; }

.single-hotel .address, .single-hotel .telephone, .single-restaurant .address, .single-restaurant .telephone, .single-entertainment .address, .single-entertainment .telephone, .single-tribe_events .address, .single-tribe_events .telephone {
  color: #BCBEC0;
  font-style: normal; }

.single-hotel .phone-number, .single-restaurant .phone-number, .single-entertainment .phone-number, .single-tribe_events .phone-number {
  margin-top: .5em; }
  .single-hotel .phone-number a, .single-restaurant .phone-number a, .single-entertainment .phone-number a, .single-tribe_events .phone-number a {
    text-decoration: none; }

.single-hotel .meta-info .meta-item, .single-restaurant .meta-info .meta-item, .single-entertainment .meta-info .meta-item, .single-tribe_events .meta-info .meta-item {
  color: #ffd100;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  text-align: right; }
  .single-hotel .meta-info .meta-item + .meta-item, .single-restaurant .meta-info .meta-item + .meta-item, .single-entertainment .meta-info .meta-item + .meta-item, .single-tribe_events .meta-info .meta-item + .meta-item {
    margin-top: .5em;
    padding-top: .5em;
    border-top: 1px solid #BCBEC0; }
  .single-hotel .meta-info .meta-item:after, .single-restaurant .meta-info .meta-item:after, .single-entertainment .meta-info .meta-item:after, .single-tribe_events .meta-info .meta-item:after {
    content: '\f105';
    font-family: "FontAwesome", sans-serif;
    margin-left: 1em; }

.single-hotel .article-header .main, .single-restaurant .article-header .main, .single-entertainment .article-header .main, .single-tribe_events .article-header .main {
  display: none; }

.next-prev-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #BCBEC0;
  position: relative;
  color: #BCBEC0;
  pointer-events: none;
  margin-bottom: 2em; }
  .next-prev-nav a {
    pointer-events: auto;
    color: #BCBEC0;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    max-width: 25em;
    vertical-align: middle;
    display: inline-block; }

.TA_cdsratingsonlynarrow {
  margin-top: 2em; }
  .TA_cdsratingsonlynarrow .cdsROW.narrow {
    margin-left: auto; }

.crawford-365-hero {
  width: 100%;
  display: block;
  margin-bottom: 1.5em; }

.container-365 {
  overflow: visible; }
  .container-365 .featured-title {
    clear: both; }
  .container-365 .card-wrap {
    padding-top: 6em;
    margin: 0 .5em; }
    .container-365 .card-wrap.slick-slide {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }
    .container-365 .card-wrap:hover .day {
      background: #fff;
      color: #007836; }
    .container-365 .card-wrap .day {
      position: absolute;
      background: #007836;
      top: .5rem;
      left: .5rem;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      text-align: center;
      z-index: 100;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      line-height: 1;
      font-size: 1.25rem; }
      .container-365 .card-wrap .day span {
        font-size: 1.5rem; }

.crawford-365-weekly-carousel {
  margin-bottom: 1.5em; }
  .crawford-365-weekly-carousel .cards-wrapper {
    display: none; }
    .crawford-365-weekly-carousel .cards-wrapper.slick-initialized {
      display: block; }
  .crawford-365-weekly-carousel .coming-soon-card.card-wrap {
    min-height: 274px;
    background: #007836; }
    .crawford-365-weekly-carousel .coming-soon-card.card-wrap .day {
      background: #fff;
      color: #007836; }
      .crawford-365-weekly-carousel .coming-soon-card.card-wrap .day:hover {
        background: #fff;
        color: #007836; }
  .crawford-365-weekly-carousel .slick-prev, .crawford-365-weekly-carousel .slick-next {
    display: none !important;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 20;
    color: #212221;
    border-color: #212221;
    font-size: 0;
    width: 2rem;
    height: 2rem;
    text-align: center; }
    .crawford-365-weekly-carousel .slick-prev:hover, .crawford-365-weekly-carousel .slick-next:hover {
      background: #212221;
      color: #fff; }
    .crawford-365-weekly-carousel .slick-prev .fa, .crawford-365-weekly-carousel .slick-next .fa {
      font-size: 1rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
      .crawford-365-weekly-carousel .slick-prev .fa:before, .crawford-365-weekly-carousel .slick-prev .fa:after, .crawford-365-weekly-carousel .slick-next .fa:before, .crawford-365-weekly-carousel .slick-next .fa:after {
        position: absolute;
        top: .5em;
        left: 0;
        right: 0;
        bottom: 0; }
    @media screen and (min-width: 800px) {
      .crawford-365-weekly-carousel .slick-prev, .crawford-365-weekly-carousel .slick-next {
        display: block !important; } }
  .crawford-365-weekly-carousel .slick-prev {
    left: -3rem; }
  .crawford-365-weekly-carousel .slick-next {
    right: -3rem; }

.featured-365-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5em; }
  .featured-365-day .cards-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%; }
  .featured-365-day .card-wrap {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0; }
  .featured-365-day .social-media-callout {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    float: right;
    clear: right; }
    .featured-365-day .social-media-callout img {
      display: block;
      width: 100%; }

.all-365-days .cards-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.all-365-days .card-wrap {
  margin-bottom: 2em; }

.select-365-dropdown {
  margin-bottom: 1.5em;
  text-align: right; }

#footer {
  background: #404040;
  color: #fff;
  padding: 2em 1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 75%; }
  #footer .footer-logo {
    display: block;
    max-width: 15em;
    height: auto;
    margin: 0 auto 2em; }
  #footer .footer-address {
    font-style: normal;
    margin-bottom: 2em; }
    #footer .footer-address .address {
      display: block;
      margin: .5em 0;
      line-height: 1; }
      @media screen and (min-width: 800px) {
        #footer .footer-address .address {
          display: inline-block; } }
  #footer .sep {
    display: none;
    margin: 0 .5em;
    font-size: 2em;
    vertical-align: top;
    line-height: 1; }
    @media screen and (min-width: 800px) {
      #footer .sep {
        display: inline-block; } }
  #footer .phone-numbers .number {
    margin: .5em 0;
    text-transform: uppercase; }
  #footer .footer-menu {
    text-align: center; }
    #footer .footer-menu ul {
      margin: 0; }
    #footer .footer-menu li {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      margin: 0 .5em; }
    #footer .footer-menu a {
      text-decoration: none;
      color: #606060; }
      #footer .footer-menu a:hover {
        color: #7a7979; }

@media screen and (min-width: 800px) {
  .footer-cta {
    background: -webkit-gradient(linear, left top, right top, from(#E7E7E8), color-stop(50%, #E7E7E8), color-stop(50%, #004876), to(#004876));
    background: linear-gradient(to right, #E7E7E8 0%, #E7E7E8 50%, #004876 50%, #004876 100%); } }

.newsletter-signup, .visitors-guide {
  padding: 2em 0; }
  .newsletter-signup h4, .visitors-guide h4 {
    font-size: 2em;
    margin: 0;
    line-height: 1.25; }

.newsletter-signup {
  background: #E7E7E8;
  -webkit-box-shadow: 2em 0 #E7E7E8, -2em 0 #E7E7E8;
          box-shadow: 2em 0 #E7E7E8, -2em 0 #E7E7E8;
  padding: 2em; }
  @media screen and (min-width: 800px) {
    .newsletter-signup {
      -webkit-box-shadow: none;
              box-shadow: none;
      padding-left: 0;
      padding-right: 2em; } }
  .newsletter-signup .email-form {
    position: relative; }
    @media screen and (min-width: 800px) {
      .newsletter-signup .email-form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .newsletter-signup .email-form label {
      width: 0;
      overflow: visible;
      display: none; }
      @media screen and (min-width: 800px) {
        .newsletter-signup .email-form label {
          display: inline; } }
  .newsletter-signup .fa-envelope {
    position: relative;
    left: .25em;
    top: 2px;
    vertical-align: middle;
    font-size: 1.5em; }
  .newsletter-signup #newsletter-email {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 1em;
    font-size: 16px;
    line-height: 1;
    height: calc( 2em + 2px);
    border: 1px solid #004876;
    background: transparent;
    padding: .5em 1em .5em 2.5em;
    margin-bottom: 1em; }
    @media screen and (min-width: 800px) {
      .newsletter-signup #newsletter-email {
        margin-bottom: 0; } }

.visitors-guide {
  background: #004876;
  -webkit-box-shadow: 2em 0 #004876, -2em 0 #004876;
          box-shadow: 2em 0 #004876, -2em 0 #004876;
  color: #fff;
  padding: 2em; }
  @media screen and (min-width: 800px) {
    .visitors-guide {
      -webkit-box-shadow: none;
              box-shadow: none;
      padding-left: 2em;
      padding-right: 0; } }
  .visitors-guide h4 {
    color: #fff;
    line-height: 1.25; }
  .visitors-guide .cover {
    float: left;
    margin-right: 2em;
    max-height: 15em; }
  .visitors-guide .button {
    color: #fff;
    border-color: #fff; }
    .visitors-guide .button:hover {
      background: #fff;
      color: #004876; }

.home #breadcrumbs {
  display: none; }

.home .latest-posts {
  padding: 4em 0;
  background-color: #EBE8E2;
  background-image: url("static/images/topographic-pattern.png");
  background-repeat: repeat;
  -webkit-box-shadow: 0 0 25px -5px #606060;
          box-shadow: 0 0 25px -5px #606060;
  position: relative;
  z-index: 10; }
  .home .latest-posts .section-title {
    text-align: center;
    color: #004876;
    font-size: 3em;
    margin: 0; }
  .home .latest-posts .subhead {
    color: #004876;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase; }
  .home .latest-posts .card-link {
    color: #ffd100;
    border-color: #ffd100; }
    .home .latest-posts .card-link:hover {
      background: #ffd100;
      color: #fff; }
  .home .latest-posts .card-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .home .latest-posts .card-bottom {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .home .latest-posts .card-title {
    border-bottom: 1px solid #212221;
    padding-bottom: .5em;
    margin-bottom: .5em; }

.home .cards-wrapper {
  margin-bottom: 2em;
  margin-top: 1em; }

.home .slider {
  position: relative; }
  .home .slider .slide {
    width: 100%;
    height: 75vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative; }
    @media screen and (min-width: 800px) {
      .home .slider .slide {
        height: 50vh; } }
  .home .slider .slide-caption {
    background: rgba(0, 120, 54, 0.75);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 1em 0; }
  .home .slider .caption-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
    margin: .25em 1em .25em 0; }
  .home .slider .caption-text {
    margin: 0; }

.home .slick-prev, .home .slick-next {
  display: none !important;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 20;
  color: #fff;
  border-color: #fff;
  font-size: 0;
  width: 2rem;
  height: 2rem;
  text-align: center; }
  .home .slick-prev:hover, .home .slick-next:hover {
    background: #fff;
    color: #212221; }
  .home .slick-prev .fa, .home .slick-next .fa {
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .home .slick-prev .fa:before, .home .slick-prev .fa:after, .home .slick-next .fa:before, .home .slick-next .fa:after {
      position: absolute;
      top: .5em;
      left: 0;
      right: 0;
      bottom: 0; }
  @media screen and (min-width: 800px) {
    .home .slick-prev, .home .slick-next {
      display: block !important; } }

.home .slick-prev {
  left: 1rem; }

.home .slick-next {
  right: 1rem; }

.upcoming-events {
  padding: 4em 0 6em;
  position: relative; }
  .upcoming-events .section-title {
    text-align: center;
    color: #004876;
    font-size: 3em;
    margin: 0; }
  .upcoming-events .subhead {
    color: #004876;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase; }
  .upcoming-events .card-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%; }
    @media screen and (min-width: 800px) {
      .upcoming-events .card-wrap {
        max-width: 23%; } }
    .upcoming-events .card-wrap .button {
      color: #fff;
      border-color: #fff; }
      .upcoming-events .card-wrap .button:hover {
        background: #fff;
        color: #004876; }
    .upcoming-events .card-wrap .card-top {
      background: #ffd100;
      color: #fff;
      padding: .25em;
      position: relative;
      z-index: 10;
      word-wrap: break-word; }
    .upcoming-events .card-wrap .card-bottom {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transition: all 200ms ease;
      transition: all 200ms ease;
      position: relative;
      z-index: 10;
      word-wrap: break-word; }
    .upcoming-events .card-wrap:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transition: background 200ms linear;
      transition: background 200ms linear;
      z-index: 0; }
    .upcoming-events .card-wrap:nth-child(2n):hover:after {
      background: rgba(0, 120, 54, 0.85); }
    .upcoming-events .card-wrap:hover {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .upcoming-events .card-wrap:hover .card-top {
        background: transparent; }
      .upcoming-events .card-wrap:hover .card-bottom {
        -webkit-transform: scale(1);
                transform: scale(1); }
      .upcoming-events .card-wrap:hover:after {
        background: rgba(0, 72, 118, 0.85); }

#tinymce.wp-editor {
  padding: 1em !important;
  max-width: 70em;
  margin: 0 auto; }
  #tinymce.wp-editor .accordion-header {
    background: rgba(144, 238, 144, 0.2);
    overflow: hidden; }
  #tinymce.wp-editor .accordion {
    background: rgba(255, 99, 71, 0.1);
    overflow: hidden;
    margin-bottom: 1em; }

.accordion {
  border: 1px solid #ffd100;
  margin-bottom: 1em; }
  .accordion:empty {
    display: none; }

.ui-accordion-header {
  padding: .25em 2em .25em .25em;
  margin: 0;
  font-size: 1.5em;
  background: #ffd100;
  color: #fff;
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
  position: relative; }
  .ui-accordion-header:hover {
    cursor: pointer; }
  .ui-accordion-header:after {
    content: '\f067';
    font-family: "FontAwesome", sans-serif;
    position: absolute;
    right: .5em; }
  .ui-accordion-header-active:after {
    content: '\f068'; }

.ui-accordion-content {
  padding: 1em .5em; }

img.alignleft {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em; }

img.alignright {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em; }

table td {
  padding: .5em 1em; }

table tr:nth-child(even) {
  background: #EFEFEF; }
/*# sourceMappingURL=style.css.map */