<ul {% if submenu %} class="sub-menu" {% endif %}>
{% for item in menu %}
	<li class="{{item.classes | join(' ')}}">
		<a href="{{item.get_link}}">{{item.title}}</a>
		{% if item.get_children %}
			{% include "menu.twig" with {'menu': item.get_children, submenu: true } %}
		{% endif %}
	</li>
{% endfor %}
</ul>