.archive-list {
	flex: 1 0 70%;
	margin-bottom: 4em;

	.archive-item {
		display: flex;
		align-items: center;
		margin-bottom: 1em;

		+ .archive-item {
			padding-top: 1em;
			border-top: 1px solid $light-grey;
		}

		img {
			width: 6em;
			height: 6em;
			margin: 0 1em 0 0;
		}

		.item-title {
			font-size: 1em;
			font-family: $font-sans-serif;
			margin: 0;

			a {
				color: $blue;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}
	
	.terms {

		a {
			color: $light-grey;
			text-transform: uppercase;
			text-decoration: none;
			&:hover {
				color: lighten( $light-grey, 10% );
			}
		}

		.comma-sep {
			&:last-child {
				display: none;
			}
		}
	}
}

.archive, .single-landing_page, .page-template-landing {

	.content-wrapper .flex-container {
		flex-wrap: wrap;
	}

	.card-wrap {
		flex: 0 0 31%;
		background-size: cover;
		background-position: center center;
		background-position: center center;
		flex-direction: column-reverse;
		transition: all 200ms ease;
		color: $white;
		position: relative;
		display: flex;

		.button {
			color: $white;
			border-color: $white;

			&:hover {
				background: $white;
				color: $light-blue;
			}
		}
		
		.card-top {
			background: $light-blue;
			color: $white;
			padding: .25em;
			position: relative;
			z-index: 10;

			.card-date {
				display: none;
			}
		}

		.card-bottom {
			transform: scale(0);
			transition: all 200ms ease;
			position: relative;
			z-index: 10;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transition: background 200ms linear;
			z-index: 0;
		}

		&:hover {
			flex-direction: column;

			.card-top {
				background: transparent;
			}

			.card-bottom {
				transform: scale(1);
			}

			&:after {
				background: rgba( $light-blue, .85 );
			}
		}
	}
}

.featured-title {
	font-size: 1.5em;
	color: $blue;
	padding: .5em;
	margin: 0 0 1em;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	letter-spacing: 2px;
	background: url(static/images/topographic-pattern.png), $tan;
}

.term-image {
	width: 100%;
	display: block;
}

.term-list {
	margin-bottom: 2em;
	
	.cards-wrapper {
		@media screen and (min-width: $medium){
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	.card-wrap:nth-child(3n + 2){
		@media screen and (min-width: $medium){
			margin-left: 3.5%;
			margin-right: 3.5%;
		}	
	}
}

.pagination {
	text-align: center;
	margin: 4em 0;
	.pages {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;

			+ li {
				margin-left: 1em;
			}

			a {
				display: inline;
				padding: 0 .25em;
			}
		}
	}

	.next {
		margin-left: 1em;
	}
}

.pagination:empty {
	display: none;
}