.crawford-365-hero {
	width: 100%;
	display: block;
	// min-height: 250px;
	// background: orange;
	margin-bottom: 1.5em;
}

.container-365 {
	overflow: visible;

	.featured-title {
		clear: both;
	}

	.card-wrap {
		padding-top: 6em;
		margin: 0 .5em;

		&.slick-slide {
			display: inline-flex;
		}

		&:hover {
			.day {
				background: $white;
				color: $light-blue;
			}
		}

		.day {
			position: absolute;
			background: $light-blue;
			top: .5rem;
			left: .5rem;
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
			text-align: center;
			z-index: 100;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			line-height: 1;
			font-size: 1.25rem;

			span {
				font-size: 1.5rem;
			}
		}
	}
}



.crawford-365-weekly-carousel {
	margin-bottom: 1.5em;

	.cards-wrapper {
		display: none;

		&.slick-initialized {
			display: block;
		}
	}
	
	.coming-soon-card.card-wrap {
		min-height: 274px;
		background: $light-blue;
		
		.day {
			background: $white;
			color: $light-blue;

			&:hover {
				background: $white;
				color: $light-blue;
			}
		}

	}

	.slick-prev, .slick-next {
		display: none !important;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 20;
		color: $black;
		border-color: $black;
		font-size: 0;
		width: 2rem;
		height: 2rem;
		text-align: center;
		// display: flex;
		// align-items: center;
		// justify-content: center;

		&:hover {
			background: $black;
			color: $white;
		}

		.fa {
			font-size: 1rem;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			&:before, &:after {
				position:absolute;
				top: .5em;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}

		@media screen and (min-width: $medium){
			display: block !important; //override JS
		}
	}

	.slick-prev {
		left: -3rem;

		// &:before {
		// 	content: '\f104';
		// }
	}

	.slick-next {
		right: -3rem;

		// &:after {
		// 	content: '\f105';
		// }
	}
}

.featured-365-day {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	margin-bottom: 1.5em;
	
	.cards-wrapper {
		flex: 0 0 55%;
	}

	.card-wrap {
		width: 100%;
		flex: 0 0 100%;
		margin: 0;
	}

	.social-media-callout {
		display: block;
		flex: 0 0 40%;
		float: right;
		// background: $light-grey;
		clear: right;

		img {
			display: block;
			width: 100%;
		}
	}
}

.all-365-days {
	.cards-wrapper {
		flex-wrap: wrap;
	}

	.card-wrap {
		margin-bottom: 2em;
	}

}

.select-365-dropdown {
	margin-bottom: 1.5em;
	text-align: right;
}