#footer {
	background: $dark-bg;
	color: $white;
	padding: 2em 1em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 75%;

	.footer-logo {
		display: block;
		max-width: 15em;
		height: auto;
		margin: 0 auto 2em;
	}

	.footer-address {
		font-style: normal;
		margin-bottom: 2em;

		.address {
			display: block;
			margin: .5em 0;
			line-height: 1;

			@media screen and (min-width: $medium){
				display: inline-block;
			}
		}
	}
	
	.sep {
		display: none;
		margin: 0 .5em;
		font-size: 2em;
		vertical-align: top;
		line-height: 1;

		@media screen and (min-width: $medium){
			display: inline-block;
		}
	}

	.phone-numbers .number {
		margin: .5em 0;
		text-transform: uppercase;
	}

	// .social-media__link {
	// 	color: $white;

	// 	&:hover {
	// 		color: lighten( $white, 10% );
	// 	}
	// }

	.footer-menu {
		text-align: center;

		ul {
			margin: 0;
		}

		li {
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;
			margin: 0 .5em;
		}

		a {
			text-decoration: none;
			color: $dark-grey;
			&:hover {
				color: lighten( $dark-grey, 10% );
			}
		}
	}
}

.footer-cta {
	@media screen and (min-width: $medium ){
		background: linear-gradient(to right, $off-white 0%, $off-white 50%, $blue 50%, $blue 100%);
	}
}

.newsletter-signup, .visitors-guide {
	padding: 2em 0;
	h4 {
		font-size: 2em;
		margin: 0;
		line-height: 1.25;
	}
}

.newsletter-signup {
	background: $off-white;
	box-shadow: 2em 0 $off-white, -2em 0 $off-white;
	padding: 2em;
	@media screen and (min-width: $medium){
		box-shadow: none;
		padding-left: 0;
		padding-right: 2em;
	}
	.email-form {
		position: relative;

		@media screen and (min-width: $medium){
			display: flex;
			flex-wrap: wrap;
		}

		label {
			width: 0;
			overflow: visible;
			display: none;

			@media screen and (min-width: $medium){
				display: inline;
			}
		}
	}

	.fa-envelope {
		position: relative;
		left: .25em;
		top: 2px;
		vertical-align: middle;
		font-size: 1.5em;
	}

	#newsletter-email {
		flex: 1;
		margin-right: 1em;
		font-size: 16px;
		line-height: 1;
		height: calc( 2em + 2px );
		border: 1px solid $blue;
		background: transparent;
		padding: .5em 1em .5em 2.5em;
		margin-bottom: 1em;
		
		@media screen and (min-width: $medium){
			margin-bottom: 0;
		}
	}
}

.visitors-guide {
	background: $blue;
	box-shadow: 2em 0 $blue, -2em 0 $blue;
	color: $white;
	padding: 2em;
	@media screen and (min-width: $medium){
		box-shadow: none;
		padding-left: 2em;
		padding-right: 0;
	}

	h4 {
		color: $white;
		line-height: 1.25;
	}

	.cover {
		float: left;
		margin-right: 2em;
		max-height: 15em;
	}

	.button {
		color: $white;
		border-color: $white;

		&:hover {
			background: $white;
			color: $blue;
		}
	}
}

