.header {
	background: $blue;
	box-shadow: 0 0 25px -5px $dark-grey;
	padding: 1em 0 2em;


	.logo {
		margin: 0;
		// background-image: url(static/images/logo.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		flex: 0 0 100%;
		//height: 2em;
		font-family: $font-serif;
		width: 100px;

		@media screen and (min-width: $medium){
			flex: 1 0 25%
		}

		a {
			display: block;
			width: 100%;
			height: 100%;
			text-decoration: none;
			text-transform: lowercase;
			color: $white;
			text-align: center;
			font-size: 1.75em;
			line-height: 1;
			transition: letter-spacing 200ms ease;

			&:hover {
				letter-spacing: 2px;

				.county-wrap {
				//	letter-spacing: 12px;
				}
			}
		}

		.county-wrap {
			color: $white;
			// background: $white;
			font-size: .4em;
			display: block;
			padding: .1em 1em;
			max-width: 11.5em;
			margin: 0 auto;
			font-family: $font-sans-serif;
			letter-spacing: 8px;
			text-transform: uppercase;
			font-weight: 400;
			transition: letter-spacing 150ms ease;

			@media screen and (min-width: $medium){
				display: block;
			}
		}
	}

	.second-row-wrap {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
	}

	.logo-banner {
		max-width: 100%;
	}

}
