.home {
	
	#breadcrumbs {
		display: none;
	}
	
	.latest-posts{
		padding: 4em 0;
		background-color: $tan;
		background-image: url("static/images/topographic-pattern.png");
		background-repeat: repeat;
		box-shadow: 0 0 25px -5px $dark-grey;
		position: relative;
		z-index: 10;

		.section-title {
			text-align: center;
			color: $blue;
			font-size: 3em;
			margin: 0;
		}

		.subhead {
			color: $blue;
			font-weight: 400;
			text-align: center;
			text-transform: uppercase;
		}

		.card-link {
			color: $gold;
			border-color: $gold;

			&:hover {
				background: $gold;
				color: $white;
			}
		}
		.card-wrap {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.card-bottom {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.card-title {
			border-bottom: 1px solid $black;
			padding-bottom: .5em;
			margin-bottom: .5em;
		}
	}

	.cards-wrapper {
		margin-bottom: 2em;
		margin-top: 1em;
	}

	.slider {
		position: relative;

		.slide {
			width: 100%;
			height: 75vh;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			position: relative;

			@media screen and (min-width: $medium){
				height: 50vh;
			}
		}

		.slide-caption {
			background: rgba( $light-blue, .75 );
			position: absolute;
			bottom: 0;
			width: 100%;
			color: $white;
			padding: 1em 0;
		}

		.caption-title {
			color: $white;
			text-transform: uppercase;
			font-size: 1.5em;
			margin: .25em 1em .25em 0;
		}

		.caption-text {
			margin: 0;
		}
	}

	.slick-prev, .slick-next {
		display: none !important;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 20;
		color: $white;
		border-color: $white;
		font-size: 0;
		width: 2rem;
		height: 2rem;
		text-align: center;
		// display: flex;
		// align-items: center;
		// justify-content: center;

		&:hover {
			background: $white;
			color: $black;
		}

		.fa {
			font-size: 1rem;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			&:before, &:after {
				position:absolute;
				top: .5em;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}

		@media screen and (min-width: $medium){
			display: block !important; //override JS
		}
	}

	.slick-prev {
		left: 1rem;

		// &:before {
		// 	content: '\f104';
		// }
	}

	.slick-next {
		right: 1rem;

		// &:after {
		// 	content: '\f105';
		// }
	}

}

.upcoming-events {
	padding: 4em 0 6em;
	position: relative;

	.section-title {
		text-align: center;
		color: $blue;
		font-size: 3em;
		margin: 0;
	}

	.subhead {
		color: $blue;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
	}

	.card-wrap {
		position: relative;
		display: flex;
		flex-direction: column-reverse;
		transition: all 200ms ease;
		color: $white;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		width: 100%;

		@media screen and (min-width: $medium){
			max-width: 23%;
		}

		.button {
			color: $white;
			border-color: $white;

			&:hover {
				background: $white;
				color: $blue;
			}
		}
		
		.card-top {
			background: $gold;
			color: $white;
			padding: .25em;
			position: relative;
			z-index: 10;
			word-wrap: break-word;
		}

		.card-bottom {
			transform: scale(0);
			transition: all 200ms ease;
			position: relative;
			z-index: 10;
			word-wrap: break-word;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transition: background 200ms linear;
			z-index: 0;
		}

		&:nth-child(2n):hover:after {
			background: rgba( $light-blue, .85 );
		}

		&:hover {
			flex-direction: column;

			.card-top {
				background: transparent;
			}

			.card-bottom {
				transform: scale(1);
			}

			&:after {
				background: rgba( $blue, .85 );
			}
		}
	}
}