.header {

	.nav-main {
		flex: 1 0 75%;
		display: none;
	}

	.main-menu {
		text-transform: uppercase;
		text-align: right;

		ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}
		
		li {
			display: inline-block;
			margin: 0 1em;
			position: relative;

			&:hover {
				.sub-menu {
					transform: scale(1);
				}
			}
		}
		
		> ul > li > a {

			@media screen and (min-width: $medium){
				position: relative;
				top: 1em;
			}

		}

		a {
			display: inline-block;
			color: $white;
			padding-bottom: 1em;
			text-decoration: none;

			&:hover {
				color: darken( $white, 20% );
			}
		}

		.sub-menu {
			position: absolute;
			z-index: 10;
			background: $light-blue;
			width: auto;
			white-space: nowrap;
			text-align: left;
			left: -2em;
			top: 2.5em;
			padding: .5em 0 1em;
			transition: all 100ms linear;
			transform: scale(0);
			transform-origin: top center;
			@media screen and (min-width: $medium){
				top: 3.5em;
			}

			li {
				display: block;
				margin: 0;
				padding: 0;
			}

			a {
				display: block;
				padding: .25em 2em;

			}

			&:before {
				content: '';
				position: absolute;
				left: 25%;
				transform: translateX(-50%) translateY(-150%);
				border-left: 1em solid transparent;
				border-right: 1em solid transparent;
				border-bottom: 1em solid $light-blue;
			}
		}
	}

	.secondary-menu {
		text-transform: uppercase;
		text-align: right;
		display: none;

		ul {
			padding: 0;
			margin: 1em 0;
		}

		li {
			display: inline-block;
			margin: 0 1em;
			list-style: none;
		}
		a {
			color: $gold;
			text-decoration: none;
			font-size: .75em;

			&:hover {
				color: lighten( $gold, 10% );
			}
		}
	}

}

#menu-toggle {
	color: $white;
	border-color: $white;
	display: inline-block;
	margin: 1em;

	&:hover {
		background: $white;
		color: $black;
	}
}

#nav-main-mobile {
	background: $black;
	color: $white;
	overflow-y: scroll;
	z-index: 100;
	padding-top: 2em;
	
	.admin-bar & {
		margin-top: 32px !important;

		@media screen and (max-width: 782px){
			margin-top: 46px !important;			
		}
	}

	#menu-toggle {
		display: inline-block;
		margin-left: 1em;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		.sub-menu {
			padding-left: 2em;
		}
	}

	a {
		text-transform: uppercase;
		color: $white;
		text-decoration: none;
		padding: .5em 1em;
		margin: .25em 0;
		display: block;
		font-weight: 300;
		&:hover {
			color: darken( $white, 10% );
		}
	}

}

#nav-secondary-mobile {
	border-top: 2px solid $gold;
	padding-top: 2em;
	margin-top: 2em;

	a {
		color: $gold;

		&:hover {
			color: lighten( $gold, 10% );
		}
	}
}


@media screen and (min-width: $medium){
	#nav-main, #nav-secondary {
		display: block;
	}
	#menu-toggle {
		display: none;
	}
}

#nav-secondary {
	@media screen and (min-width: $medium){
		display: flex;
		align-items: center;
		justify-content: flex-end;

		#searchform {
			margin-left: 2rem;
		}

		#searchsubmit {
			background: $light-blue;
			color: $white;
		}
	}

	.social-media {
		margin-right: 2rem;

		.social-media__link {
			font-size: 1em;
		}
	}
}

#nav-secondary-mobile {
	#searchform {
		padding: 1em;
	}

	#searchsubmit {
		background: $light-blue;
		color: $white;
		margin: 1em 0;
		display: inline-block;
	}

	.social-media {
		display: flex;
	}
}