.single-hotel, .single-restaurant, .single-entertainment, .single-tribe_events {
	
	.article-header, .article-bottom {

		@media screen and (min-width: $medium){
			display: flex;
			justify-content: space-between;

			.side {
				width: 30%;
			}

			.main {
				flex: 0 1 65%;
				display: block;
				max-width: 65%;
			}
		}

		margin-bottom: 2em;
	}

	.article-header {
		align-items: flex-end;
	}
	
	.article-bottom {
		
	}
	
	.tribe-events-event-image img {
		display: block;
		max-width: 100%;
		width: 100%;
		max-height: 75vh;
	}

	.post-thumb, .tribe-events-event-image {
		display: block;
		max-width: 100%;
		width: 100%;
	}

	.header-meta {
		.article-h1 {
			line-height: 1;
			color: $blue;
			margin: .25em 0;
		}
	}

	.address, .telephone {
		color: $light-grey;
		font-style: normal;
	}

	.phone-number {
		margin-top: .5em;
		a {
			text-decoration: none;
		}
	}
	
	.meta-info {

		.meta-item {
			color: $gold;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 2px;
			display: block;
			text-align: right;

			+ .meta-item {
				margin-top: .5em;
				padding-top: .5em;
				border-top: 1px solid $light-grey;
			}

			&:after {
				content: '\f105';
				font-family: $font-awesome;
				margin-left: 1em;
			}
		}
	}

	.article-header .main {
		display: none;
	}
}

.next-prev-nav {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid $light-grey;
	position: relative;
	// top: -3.5em;
	color: $light-grey;
	pointer-events: none;
	margin-bottom: 2em;

	a {
		pointer-events: auto;
		color: $light-grey;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 2px;
		max-width: 25em;
		vertical-align: middle;
		display: inline-block;
	}
}

.TA_cdsratingsonlynarrow {
	margin-top: 2em;

	.cdsROW.narrow {
		margin-left: auto;
	}
}