{% extends "base.twig" %}

{% block content %}
	<div class="container featured-cards">
		{# {% if term_image.src %}
			<img src="{{ term_image.src }}" class="term-image" />
		{% endif %} #}
		<div class="featured-title">Featured {{ title }}</div>
		{% include "card-style.twig" with { cards: featured, link_text: 'More Info &rsaquo;', truncate: 20, bg: true } %}
	</div>
	{% if terms %}
		<div class="term-list container">
			{% if before_terms %}
				{{ before_terms }}
			{% endif %}
			<div class="featured-title">Categories</div>
			{% include 'card-style.twig' with { cards: terms, link_text: 'Details', truncate: 20, bg: true } %}
			{% if after_terms %}
				{{ after_terms }}
			{% endif %}
		</div>
	{% endif %}

	{% if not terms %}
		<div class="flex-container">
			{% include "facet.twig" %}
			
			<div class="archive-list">
				{% for post in posts %}
					{% block archive_list_item %}
						<article class="{{ post.class }} archive-item">

							{% if post.thumbnail %}
								<img src="{{ post.thumbnail.src('thumbnail') }}" />
							{% endif %}
							<div>
								<h1 class="item-title"><a href="{{post.link}}">{{ post.title }}</a></h1>
								<div class="terms">
									{% for term in post.terms %}
										<a href="{{ term.link }}">{{ term.name }}</a><span class="comma-sep">,&nbsp;</span>
									{% endfor %}
								</div>
								{% if post.post_excerpt %}
									<div class="excerpt">
										{{ function('nl2br', post.post_excerpt) }}
									</div>
								{% endif %}
							</div>
						</article>
					{% endblock %}
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %}