{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="header clearfix">
			{% block header %}
				<div class="wrapper container show-overflow">
					
					<nav id="nav-secondary" class="secondary-menu">
						{% include 'social-media.twig' %}
						{% include "menu.twig" with {'menu': secondary_menu.get_items} %}
						{{ function('get_search_form') }}
					</nav>

					<div class="second-row-wrap">
						<h1 class="logo" role="banner">
							<a class="logo-link" href="{{site.url}}" rel="home"><img class="logo-banner" src="{{ theme.link }}/static/images/crawford-county-logo-reverse.png" alt="Crawfory County Kansas"/></a>
						</h1>
						<nav id="nav-main" class="nav-main" role="navigation">
							<div class="main-menu">
								{% include "menu.twig" with {'menu': menu.get_items} %}
							</div>
						</nav>
						<a href="#" rel="nofollow" id="menu-toggle" class="button">Menu</a>
					</div>

				</div>

			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			<div class="container">{{ breadcrumbs }}</div>
			{% block content %}
				Sorry, no content
			{% endblock %}
		</section>

		{% block footer %}
				{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-83196829-2', 'auto', 'vccTracker');
		  ga('vccTracker.send', 'pageview');

		</script>
	</body>
</html>
