{# link_text comes with include #}
{# truncate comes with include #}
<div class="cards-wrapper">
	{% set current_day = 0 %}
	{% for card in cards %}
	{% if category %}
		{% set cat = card.terms('crawford_365_category')|first %}
		{% set cat_attrs = "data-" ~ cat.taxonomy ~ "='" ~ cat.slug ~ "'" %}
	{% endif %}
	<article class="card-wrap" {% if bg %} style="background-image: url({{ card.thumbnail.src }})" {% endif %} {% if cat_attrs %}{{ cat_attrs }}{% endif %}>
		{% if day %}
			<div class="day"><div>{{ card.date('M') }} <br><span>{{ card.date('j') }}</span></div></div>
			{% set current_day = card.get_day_365 %}
		{% endif %}
		<div class="card-top">
			<time class="card-date">
				{% block card_date %}
					{{ card.date }}
				{% endblock %}
			</time>
			<h1 class="card-title"><a href="{{ card.link }}">{{ card.title }}</a></h1>
		</div>
		<div class="card-bottom">
			<p class="details">
				{% if truncate %}
					{{ card.post_content|excerpt(truncate) }}
				{% else %}
					{{ card.post_content }}
				{% endif %}
			</p>
			<div class="card-button-wrap"><a href="{{ card.link }}" class="button card-link">{{ link_text }}</a></div>
		</div>
	</article>
	{% endfor %}
	{% if cards|length < 7 and extend %}
		{% set i = 7 - slides|length %}
		{% for num in 1..i %}
			<article class="card-wrap coming-soon-card" {% if bg %} style="background-image: url()" {% endif %}>
				<div class="day"><div>Day <br><span>{{ current_day + num }}</span></div></div>
				<div class="card-top">
					<h1 class="card-title">Coming Soon</h1>
				</div>
				<div class="card-bottom">
					<p class="details">Check back later this week for more details!</p>
					<div class="card-button-wrap"></div>
				</div>
			</article>
		{% endfor %}
	{% endif %}
</div>