{% extends "base.twig" %}

{% block content %}
	<div class="container clearfix container-365">
		<img class="crawford-365-hero" src="{{ TimberImage(hero).src }}" />
		
		<div class="featured-title">This Week</div>

		<div class="crawford-365-weekly-carousel">
			{% include 'card-style.twig' with { cards: slides, link_text: 'More &rsaquo;', bg: true, truncate: 20, day: true, extend: true } %}
		</div>

		<div class="featured-title">Featured Today</div>
		<div class="featured-365-day">
			{% include 'card-style.twig' with { cards: today, link_text: 'More &rsaquo;', bg: true, truncate: 20, day: true } %}
			<a href="{{ social_link }}" class="social-media-callout"><img src="{{ TimberImage(social_img).src }}"/></a>
		</div>

		<div class="featured-title">Month in Review</div>
		<div class="select-365-dropdown">Filter: 
				<select id="filter-365-posts">
				<option value="initial">Choose a category...</option>
				{% for term in crawford_365_cats %}
					<option value="{{ term.slug }}">{{ term.name }}</option>
				{% endfor %}
				<option value="all">Show All</option>
			</select>
		</div>
		<div class="all-365-days">
			{% include 'card-style.twig' with { cards: this_month, link_text: 'More &rsaquo;', bg: true, truncate: 20, day: true, category: true } %}
		</div>
		<p class="centered"><button id="show-all-365">View All this Month</button></p>
		<p class="centered"><a href="{{ SERVER.REQUEST_URI }}?fullYear=1" id="show-all-365-year">View All this Year</a></p>
	</div>
{% endblock %}