{% if comments %}
	{{ function( 'comments_template' ) }}
{% endif %}
<div class="footer-cta">
	<div class="clearfix container flex-align-center-medium">
		<div class="half newsletter-signup clearfix">
			<h4>{{ newsletter_heading }}</h4>
			<p>{{ newsletter_description }}</p>
			<div class="clearfix">
				<form class="email-form" id="newsletter-signup-form">
					<img src="{{ theme.link }}/static/images/spinner.gif" id="newsletter-spinner" style="display: none;" />
					<label for="newsletter-email"><span class="fa fa-envelope" aria-hidden="true"></span><span class="screen-reader-text">E-mail address</span></label>
					<input type="email" required id="newsletter-email" value="" placeholder="E-MAIL" />
					<input type="text" name="email" id="hp-field" aria-hidden="true" />
					<button type="submit" href="#" class="button">Sign Up</button>
				</form>
				<div id="newsletter-success" style="display: none;">
					Success! Check your email to confirm your subscription.
				</div>
				<div id="newsletter-error" style="display: none;">
					<span class="fa fa-frown-o"></span> Ooops! Something went wrong. Double check that you typed a valid email address. You also might already be in our mailing list.
				</div>
			</div>
		</div>
		<div class="half visitors-guide clearfix">
			<img class="cover" src="{{ theme.link }}/static/images/cover.jpg" />
			<h4>{{ visitors_guide_heading }}</h4>
			<p>{{ visitors_guide_description }}</p>
			<div class="clearfix">
				<a href="/visitors-guide/" class="button">Get One</a>
			</div>
		</div>
	</div>
</div>

<footer id="footer" class="site-footer">
	<img src="{{ theme.link }}/static/images/crawford-county-logo-horizontal-white.png" class="footer-logo" />

	<address class="footer-address">
		<span class="street address">117 West Fourth Street</span>
			<span class="sep">&bull;</span>
		<span class="po-box address">PO Box 1115</span>
			<span class="sep">&bull;</span>
		<span class="city-state-zip address">Pittsburg, Kansas 66762</span>
	</address>

	<div class="phone-numbers">
		<div class="number toll-free"><strong>Toll Free</strong>&emsp; 1-800-879-1112</div>
		<div class="number office"><strong>Office</strong>&emsp; (620) 231-1212</div>
		<div class="number fax"><strong>Fax</strong>&emsp; (620) 231-3178</div>
	</div>

	{% include 'social-media.twig' %}

	<nav class="footer-menu">
		{% include "menu.twig" with {'menu': footer_menu.get_items} %}
	</nav>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-9944557-56', 'auto');
  ga('send', 'pageview');

</script>

<!-- Google Code for Main list -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 982029061;
var google_conversion_label = "6xIBCKPE9gQQhaai1AM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/982029061/?value=0&amp;label=6xIBCKPE9gQQhaai1AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
