{% extends "base.twig" %}

{% block content %}
	<div class="slider">
		{% for slide in slides.get_field('home_slides') %}
		<div class="slide" style="background-image: url({{ TimberImage( slide.image ).src }});">
			<div class="slide-caption">
				<div class="container flex-align-center-medium">
					<div class="caption-title">{{ slide.title }}</div>
					<p class="caption-text">{{ slide.caption }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="upcoming-events clearfix">
		<div class="container">
			<div class="subhead">This Month in Crawford County</div>
			<h2 class="section-title">Upcoming Events</h2>
			<script src="//dashboard.time.ly/js/embed.js" data-src="https://events.time.ly/if21jhj?categories=25044,25275,25526,25042,25040,25045,25035&view=tile&filterGroupItems=9307,9283,9415,9413,9281,9306,9293,9291,9284,9286,9316,9412,9287,9282,9414,9411,9285,9319,9312&range=events&slider=1&events=12" data-max-height="0" id="timely_script" class="timely-script"></script>
			{# {% include 'event-card-style.twig' with { cards: events, link_text: 'Details', truncate: 20, bg: true } %} #}
			<div class="centered">
				<a class="button bigger" href="/calendar">View Full Calendar</a>
			</div>
		</div>
	</div>
	<div class="latest-posts clearfix">
		<div class="container">
			<div class="subhead">Blog Posts &amp; Local News</div>
			<h2 class="section-title">The Scoop</h2>
			{% include 'card-style.twig' with { cards: posts, link_text: 'More &rsaquo;', truncate: 20 } %}
			<div class="centered">
				<a class="button bigger" href="{{ blog_url }}">All News &amp; Blogs</a>
			</div>
		</div>
	</div>
{% endblock %}