{% extends "base.twig" %}

{% block content %}
	<div class="container">
	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}
	</div>

	{% if pagination.pages %}
	<div class="container">
		<div class="pagination">
			{% if pagination.prev %}
				<a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}">Prev</a>
			{% endif %}
			<ul class="pages">
				{% for page in pagination.pages %}
					<li>
						{% if page.link %}
							<a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
						{% else %}
							<span class="{{page.class}}">{{page.title}}</span>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
			{% if pagination.next %}
				<a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}}">Next</a>
			{% endif %}
		</div>
	</div>
	{% endif %}
	
{% endblock %}