{% extends "base.twig" %}

{% block content %}
	{% if boxes %}
		<div class="term-list container">
			
			<div class="featured-title">{{ post.title }}</div>

			{% if before_boxes %}
				{{ before_boxes }}
			{% endif %}
			
			{% include 'landing-card-style.twig' with { cards: boxes, link_text: 'Details', truncate: 20, bg: true } %}
			
			{% if after_boxes %}
				{{ after_boxes }}
			{% endif %}
		</div>
	{% endif %}
{% endblock %}