{# link_text comes with include #}
{# truncate comes with include #}
<div class="cards-wrapper">
	{% for card in cards %}
	<article class="card-wrap" {% if bg %} style="background-image: url({{ card.thumbnail.src }})" {% endif %} {% if cat_attrs %}{{ cat_attrs }}{% endif %}>
		<div class="card-top">
			<h1 class="card-title"><a href="{{ card.link }}">{{ card.title }}</a></h1>
		</div>
		<div class="card-bottom">
			<p class="details">
				{% if truncate %}
					{{ card.post_content|excerpt( truncate) }}
				{% else %}
					{{ card.post_content }}
				{% endif %}
			</p>
			<div class="card-button-wrap"><a href="{{ card.link }}" class="button card-link">{{ link_text }}</a></div>
		</div>
	</article>
	{% endfor %}
</div>