{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper container">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
					<div class="article-header">
						{% if post.thumbnail %}
							<img src="{{ post.thumbnail.src }}" class="post-thumb main" />
						{% endif %}
						<div class="header-meta side">
							<h1 class="article-h1">{{post.title}}</h1>
							{% block header_meta %}
								<address class="address">
									{{ attribute( post, post.post_type ~ '_address')['address'] }}
								</address>
								<div class="phone-number">
									<a class="telephone" href="tel:{{ attribute( post, post.post_type ~ '_phone_number') }}">
										<span itemprop="telephone">{{ attribute( post, post.post_type ~ '_phone_number') }}</span>
									</a>
								</div>
							{% endblock %}
						</div>
					</div>
				<div class="article-bottom">
					<div class="article-body main">
						{{ post.content }}
					</div>
					<div class="meta-info side">
							{% if attribute( post, post.post_type ~ '_website_url') %}
								<a class="meta-item" href="{{ attribute( post, post.post_type ~ '_website_url') }}">Website</a>
							{% endif %}
						{% block meta_info %}
							<a class="meta-item" href="https://google.com/maps/?q={{ fn( 'urlencode', attribute( post, post.post_type ~ '_address')['address'] ) }}" target="blank">Get Directions</a>
							{% for meta_link in post.get_field( 'meta_links' ) %}
								<a class="meta-item" href="{{ meta_link['link'] }}">{{ meta_link['label'] }}</a>
							{% endfor %}
							{% if post.get_field( 'tripadvisor_embed' ) %}
								{{ post.get_field( 'tripadvisor_embed' ) }}
							{% endif %}
						{% endblock %}
					</div>
				</div>
			</section>

			{% if post.comment_status != 'closed' %}
				{% block comments %}
					<section class="comments">
						<div class="respond">
							<h3 class="h2">Comments</h3>
							{{ fn('comment_form') }}
						</div>
						<div class="responses">
							{% for cmt in post.get_comments() %}
								{% include "comment.twig" with { comment: cmt } %}
							{% endfor %}
						</div>
					</section>
				{% endblock %}
			{% endif %}
		</article>
		{% include 'social-media.twig' %}
		<nav class="next-prev-nav">
			<div class="prev">
				{{ fn( 'previous_post_link' ) }}
			</div>
			<div class="next">
				{{ fn( 'next_post_link' ) }}
			</div>
		</nav>
	</div><!-- /content-wrapper -->
{% endblock %}