{% extends "rhe-template.twig" %}

{% block header_meta %}
	<address class="address">
		{{ post.hotel_address['address'] }}
	</address>
	<div class="phone-number">
		<a class="telephone" href="tel:{{ post.hotel_phone_number }}"><span itemprop="telephone">{{ post.hotel_phone_number }}</span></a>
	</div>
{% endblock %}