{% extends "rhe-template.twig" %}

{% block header_meta %}
	<address class="address">
		{{ post.facility_address['address'] }}
	</address>
	<div class="phone-number">
		<a class="telephone" href="tel:{{ post.facility_phone_number }}"><span itemprop="telephone">{{ post.facility_phone_number }}</span></a>
	</div>
{% endblock %}