{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper container">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<p class="blog-author">
					<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.post_date|date}}
				</p>
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		{% if post.comment_status != 'closed' %}
			<section class="comments">
				<div class="respond">
					<h3 class="h2">Comments</h3>
					{{ fn('comment_form') }}
				</div>
				<div class="responses">
					{% for cmt in post.get_comments() %}
						{% include "comment.twig" with { comment: cmt } %}
					{% endfor %}
				</div>
			</section>
		{% endif %}
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
