<div class="social-media">
	<a class="social-media__link" href="https://www.pinterest.com/crawfordcvb/">
		<span class="fa fa-pinterest">
			<span class="screen-reader-text">Pinterest</span>
		</span>
	</a>
	
	<a class="social-media__link" href="https://twitter.com/visitcrawford">
		<span class="fa fa-twitter">
			<span class="screen-reader-text">Twitter</span>
		</span>
	</a>
	
	<a class="social-media__link" href="https://www.youtube.com/VisitCrawfordCounty">
		<span class="fa fa-youtube">
			<span class="screen-reader-text">YouTube</span>
		</span>
	</a>
	
	<a class="social-media__link" href="https://www.facebook.com/visitcrawfordcounty/">
		<span class="fa fa-facebook">
			<span class="screen-reader-text">Facebook</span>
		</span>
	</a>
</div>