#tinymce.wp-editor {
	padding: 1em !important;
	max-width: $container-width;
	margin: 0 auto;
	
	.accordion-header {
		background: rgba( lightgreen, .2 );
		overflow: hidden;
	}
	.accordion {
		background: rgba( tomato, .1 );
		overflow: hidden;
		margin-bottom: 1em;
	}

}

.accordion {
	border: 1px solid $gold;
	margin-bottom: 1em;

	&:empty {
		display: none;
	}
}

.ui-accordion-header {
	padding: .25em 2em .25em .25em;
	margin: 0;
	font-size: 1.5em;
	background: $gold;
	color: $white;
	text-transform: uppercase;
	font-family: $font-sans-serif;
	position: relative;

	&:hover {
		cursor: pointer;
	}

	&:after {
		content: '\f067';
		font-family: $font-awesome;
		position: absolute;
		right: .5em;
	}

	&-active:after {
		content: '\f068';
	}
}

.ui-accordion-content {
	padding: 1em .5em;
}

img.alignleft {
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
}

img.alignright {
	float: right;
	margin-left: 1em;
	margin-bottom: 1em;
}

table {
	td {
		padding: .5em 1em;
	}

	tr:nth-child(even){
		background: #EFEFEF;
	}
}