// *******************
// Variables
// *******************

$black: #212221;
$dark-bg: #404040;
$white: #fff;
$off-white: #E7E7E8;
$light-grey: #BCBEC0;
$dark-grey: #606060;
$tan: #EBE8E2;
$blue: #004876;
$light-blue: #007836;
$gold: #ffd100;
$red: #c90004;

$small: 20em;
$medium: 800px;

$container-width: 70em;

$font-sans-serif: 'Open Sans', Arial, sans-serif;
$font-serif: 'Muli', Georgia, serif;
$font-awesome: 'FontAwesome', sans-serif;