/*
 * Theme Name: Crawford County v4
 * Description: Theme for Crawford County
 * Author: 502 - A Strategic Marketing Agency
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Muli:400,700');
@import "normalize";
@import "variables";

* {
	box-sizing: border-box;
}

body {
	color: $black;
	font-size: 1em;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 400;
	line-height: 1.5;
}

p {
	line-height: 1.5;
	margin-top: 0;
	margin-bottom: 1.5em;
}

a {
	cursor: pointer;
	color: $gold;

	&:hover {
		color: lighten( $gold, 10% );
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-serif;
	font-weight: 700;
}

body .fa {
	font-size: 1em;
}

@import "utilities/utilities";
@import "utilities/grid";
@import "utilities/forms";

@import "modules/buttons";
@import "modules/issuu";
@import "modules/card-style";
@import "modules/social-media";
@import "modules/breadcrumbs";
@import "modules/comments";
@import "modules/events";

@import "site/header";
@import "site/menu";
@import "site/archive";
@import "site/rhe-template";
@import "site/crawford-365";
@import "site/footer";

@import "site/home";

@import "tinymce";
