#hp-field {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	visibility: hidden;
	pointer-events: none;
}

.beautiful-taxonomy-filters-label {
	display: block;
}

.beautiful-taxonomy-filters-clear-all {
	margin-left: 1em;
	display: inline-block;
	color: $red;
	text-decoration: none;

	&:before {
		content: '\f057';
		font-family: $font-awesome;
		margin-right: .5em;
	}
}


.facet-search {
	min-width: 300px;
	margin-bottom: 4em;

}

.beautiful-taxonomy-filters-label {
	font-size: 1em;
	color: $blue;
	text-transform: uppercase;
	margin-bottom: 1em;
}

.beautiful-taxonomy-filters-tax {
	margin-bottom: 1em;
}

.select2-container.select2-container--default {

	min-width: 90%;
	margin-bottom: 1em;

	.select2-results__option--highlighted[aria-selected] {
		background: $light-blue;
	}

	.select2-results__option[aria-selected=true] {
		background: $light-grey;
		
		&.select2-results__option--highlighted {
			background: $light-blue;
		}
	}

}

#tribe-community-events.form {
	margin-bottom: 1em;
}

.tribe-event-recurrence .tribe-handle {
	display: none;
}