.half {
	@media screen and (min-width: $medium){
		width: 50%;
		padding: 0 1em;
		float: left;	
	}
}



.container {
	max-width: $container-width;
	overflow: hidden;
	margin: 0 auto;
	padding: 0 1em;
}

.flex-container {
	@extend .container;
	display: flex;
}