.flex-align-center {

	&-medium {
		@media screen and (min-width: $medium){
			display: flex;
			align-items: center;
		}
	}

	&-small {
		display: flex;
		align-items: center;
	}
	
}

.centered {
	text-align: center;
}

.bigger {
	font-size: 150%;
}


// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}


.clear:before,
.clear:after,
.clearfix:before,
.clearfix:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
#header:before,
#header:after,
.site-content:before,
.site-content:after,
#footer:before,
#footer:after {
	@include clearfix;
}

.clear:after,
.clearfix:after,
.entry-content:after,
.comment-content:after,
#header:after,
.site-content:after,
#footer:after {
	@include clearfix-after;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		display: block;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

.show-overflow {
	overflow: visible !important;
}
