.button, button, input[type="submit"] {
	-webkit-appearance: none;
	display: inline-block;
	border: 1px solid $blue;
	background: transparent;
	color: $blue;
	line-height: 1;
	padding: .5em 1em;
	text-decoration: none;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 50ms linear;

	&:hover {
		color: $white;
		background: $blue;
	}
}