.cards-wrapper {
	justify-content: space-between;

	@media screen and (min-width: $medium){	
		display: flex;
	}

	.card-wrap {
		flex: 0 0 23%;
		background: $white;
		padding: 1em;
		box-shadow: 1px 1px 5px $dark-grey;
		margin-bottom: 2em;
	}

	.card-title {
		line-height: 1;
		margin: 0;
		font-size: 1.5em;
		font-family: $font-sans-serif;

		a {
			text-decoration: none;
			color: inherit;
		}
	}
}