body { // Create more specificity since plugin style is loaded later (dumb)

#tribe-events-pg-template {
	padding: 0;
	max-width: none;
}

#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a {
	background: $light-blue;
}

#tribe-bar-form .tribe-bar-submit input[type=submit] {
	background: $light-blue;
}

#tribe-events-content-wrapper {
	margin-bottom: 1em;
}

.tribe-events-page-title {
	text-transform: uppercase;
	font-family: $font-sans-serif;
	letter-spacing: 2px;
	color: $blue;
}

&.single-tribe_events {
	
}

#tribe-community-events h4 {
	font-family: $font-sans-serif;
	font-size: 1rem;
}

.events-community-post-title label, .events-community-post-content label {
	text-transform: uppercase;
	font-weight: 700;
}

.submit-event {
	margin: 2em 0;

	a {
		font-size: 150%;
	}
}

&.archive.post-type-archive-tribe_events .card-wrap {
	flex: 0 0 23%;
}

&.archive.post-type-archive-tribe_events .card-wrap .card-top .card-date {
	display: inline;
}

}

#tribe-events-content a, .tribe-events-adv-list-widget .tribe-events-widget-link a, .tribe-events-adv-list-widget .tribe-events-widget-link a:hover, .tribe-events-back a, .tribe-events-back a:hover, .tribe-events-event-meta a, .tribe-events-list-widget .tribe-events-widget-link a, .tribe-events-list-widget .tribe-events-widget-link a:hover, ul.tribe-events-sub-nav a, ul.tribe-events-sub-nav a:hover {
    color: $blue;
}