.social-media {
	margin: 2em 0;
	text-align: center;

	&__link {
		text-decoration: none;
		margin: 0 .25em;
		font-size: 1.5em;
		color: $light-grey;
		cursor: pointer;

		&:hover {
			color: lighten( $light-grey, 10% );
		}
	}
}